<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Specify the Node.js entry point -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Rewrite all requests to the entry file -->
    <rewrite>
      <rules>
        <rule name="Node.js" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Enable logging for iisnode -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
